@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Roles.IsUserInRole("admin"))
{
    <span> Welcome <b>@WebSecurity.CurrentUserName</b>! </span>
}
else
{
    Response.Redirect("~/Error/AccessDenied");
}
